* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
}

.header-top {
    display: flex;
    justify-content: end;
    background-color: black;
    height: 28px;
}

header .navbar {
    background-color: white;
    height: 72px;
}

.navbar-collapse {
    background-color: rgba(255, 255, 255, 0.384);
}

.header_logo-sony svg {
    height: 14px;
    margin: 0 12px;
    justify-self: end;
}

.navbar-toggler {
    border: 1px solid lightgrey;
    height: 38px;
}

.navbar-toggler:hover {
    box-shadow: 1px 1px 4px black;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 4px;
}

.dropdown .fa-chevron-down {
    height: 12px;
    fill: #999999;
}

.dropdown .nav-link:hover svg {
    fill: #0070d1;
}

.header_right button {
    background-color: #363636;
    border-radius: 24px;
    padding: 6px 16px;
    margin: 0 8px;
}

.header_right svg {
    height: 28px;
}

.header_right svg:hover {
    transform: scale(110%);
}

/* /header */

/* main */
main {
    padding-top: 100px;
}

.hero {
    height: 670px;
    background-image: url(../img/jumbo-bg.png);
    background-position-x: center;
    background-size: cover;
}

.hero_title, .hero_description {
    color: white;
}

.hero_card {
    height: 100%;
}
.hero_card-logo {
    height: 38px;
}

.hero_title {
    font-size: 36px;
    font-weight: 600;
    width: 100%;
}

.hero_description {
    font-size: 18px;
    width: 100%;
}

.hero .btn {
    background-color: #cd3d0f;
    color: white;
    border-radius: 18px;
    margin: 16px 0 50px;
}

.hero .row {
    
}

.hero .row img {
    width: 100%;
    border-radius: 18px;
}

/* /main */